@page "/frequency/{id:int}"
@inject IDataService data
@inject IJSRuntime jsRuntime

<RayInput @bind-newRay="newRay" RayCast="@RayCast" />
<div class="spinner-border" role="status" hidden="@HideLoading">
  <span class="sr-only">Loading...</span>
</div>
<div @ref="RaysParent">
    @*Order in the setter itself*@
@foreach (var ray in data.Rays.OrderByDescending(ray => ray.RayCastDate))
{
    <p class="ray">
        <RayItem ray="@ray" />
    </p>
}
</div>

@code{
    [Parameter]
    public int Id { get; set; }

    public RayToCast newRay { get; set; } = new RayToCast();

    public bool HideLoading { get; set; } = false;

    ElementReference RaysParent { get; set; }

    protected override void OnParametersSet()
    {
        data.UpdatedRays += UpdateForNewRays;
        data.SelectedFrequency = Id;
    }

    void UpdateForNewRays()
    {
        HideLoading = true;

        var mostRecentRay = data.Rays.OrderByDescending(ray => ray.RayCastDate).First();

        //Better to put after re-rendering and have a boolean flag to trigger.
        jsRuntime.InvokeVoidAsync("ShowLatestRay.findFirstRayAndHighlight", RaysParent);

        if (!data.Rays.Any(r => r.UserName == data.CurrentUser.Name))
            newRay.Text = $"Hello, my name is {data.CurrentUser.Name}";
        else
            newRay.Text = "";
        StateHasChanged();
    }

    void RayCast()
    {
        HideLoading = false;
    }

}
