@page "/settings"
@inject IDataService data
@inject AnimationService AnimationService
@implements IDisposable

<AuthorizeView>
    <Authorized>
        <span>Username</span>
        <div class="input-group">
            <label class="form-control">@context.User.Identity.Name</label>
        </div>
        <span>You watched the beam @beamPasses time </span>
        <div id="animationBeam"></div>
    </Authorized>
</AuthorizeView>

@code{      
    private int beamPasses = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AnimationService.LoadAnimation("animationBeam", 1000, 200);
            AnimationService.BeamPassTriggered += BeamPassed;
        }
    }

    private void BeamPassed()
    {
        beamPasses++;
        StateHasChanged();
    }

    public void Dispose()
    {
        AnimationService.BeamPassTriggered -= BeamPassed; 
    }
}
